<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <div class="content-<%= post.id %>">
    <div class="title"><h2><%= link_to post.title, post %></h2></div>
    <div class="body"><%= post.body %></div>
    <% if @post.author? %>
      <div class="author"><%= post.author %></div>
    <% end %>
    <ul class="admin-links">
      <li><%= link_to 'Edit', edit_post_path(post) %></li>
      <li><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></li>
    </ul>
  </div>
  <hr>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
